.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 20px;
  margin-top: 160px;
}


#carouselExample {
  max-width: 1200px;  /* Allowing wider width */
  width: 90%;  /* Adjust width dynamically */
  padding: 40px;
  border-radius: 10px;
  background-color: #43341a;
}

.car-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;  /* Increased gap between divs */
}

.car-div {
  background: #fff;
  border: 1px solid #eee;
  padding: 30px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1);
  width: 100%;  /* Increased width to occupy more space */
}

.car-div:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}



.car-div img {

  width: 280px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}



.car-div span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #3B2C1B;
}

.car-div .verified-tag {
  font-size: 14px;
  color: #4CAF50;
  margin-bottom: 10px;
  font-weight: 500;
}

.car-div p {
  color: #555;
  font-size: 15px;
  line-height: 1.6;
}

.carousel-control-prev, .carousel-control-next {
  color: black;
  border: none;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(0) !important;
}

.carousel-indicators button {
  background-color: #000;
}

.carousel-indicators button.active {
  background-color: #fff;
}


/* Media Queries */
@media screen and (max-width: 992px) {
  /* #carouselExample {
    width: 98%;
    padding: 15px;
    margin-top: 400px;
  } */
  .car-div-container {
    flex-direction: column;
    
  }
  
  .car-div {
    width: 90%;
    margin-bottom: 20px;
  }
  
  .carousel-container {
  
    min-height: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  #carouselExample {
    width: 87%;
    padding: 15px;
    margin-top: 50px;
  }
  
  .car-div {
    padding: 15px;
    width: 95%;
  }
  
  /* .carousel-container {
    margin-top: 200px;
  } */
  
  .car-div img {
    width: 200px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-container {
    margin-top: 140px;
    padding: 5px;
  }
  
  .car-div {
    padding: 10px;
    width: 100%;
  }
  
  .car-div span {
    font-size: 16px;
  }
  
  .car-div .verified-tag {
    font-size: 12px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 30px;
  }
}

/* Indicator styles */
.carousel-indicators {
  margin-bottom: 0;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #000;
}

.carousel-indicators button.active {
  background-color: #fff;
}