.inner-page-2 {
    background: #3B2C1B;
    padding-top: 10px;
    text-align: center;
    margin-top: 195px;
    width: 100vw;
    color: rgb(255, 255, 255);
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.cards-row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    text-align: center;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
 .form-group {
    margin-bottom: 7px; /* Add spacing between input fields */
  }
  .card input,
  .card textarea {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card button {
    width: 100%;
    font-size: 1rem;
    padding: 15px;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: bold;
  }